#s-2da89386-9a72-4838-9098-99f5b6ceda31 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2da89386-9a72-4838-9098-99f5b6ceda31 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2da89386-9a72-4838-9098-99f5b6ceda31 #s-bigTitle {
  -ms-transform: rotate(0.0deg);
}
#s-2da89386-9a72-4838-9098-99f5b6ceda31 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}